{% extends 'post/index.html.twig' %}

{% block title %}
	Symfony Blog
{% endblock %}

{% block content %}
	<div class="row justify-content-end mb-4">
		<div class="col-sm-auto mb-sm-0 mb-4">
			<a href="{{ path('post.new') }}" class="btn btn-primary w-100">Write a new post</a>
		</div>
		<div class="col-sm-auto">
			<select class="custom-select text-center">
				<option selected invalid hidden>Filter by</option>
			</select>
		</div>
	</div>
	<div class="row row-cols-lg-2">
		{% for post in posts %}
			<div class="col mb-4">
				<div class="card shadow h-100">
					<div class="card-header responsive-image" 
						style="background-image: url('{{ post.image ? asset("uploads/images/#{post.image}") : asset('uploads/images/default.png') }}'); height: 300px;">
					</div>
					<div class="card-body">
						<h2 class="card-title">{{ post.title }}</h2>
						<hr class="my-1">
						<p class="card-text lead">{{ post.shortDescription }}</p>
					</div>
					<div class="card-footer">
						<div class="btn-group w-100">
							<a href="{{ path('post.view', { id: post.id }) }}" class="btn btn-outline-primary">View</a>
							<a href="{{ path('post.edit', { id: post.id }) }}" class="btn btn-outline-secondary">Edit</a>
							<a href="{{ path('post.delete', { id: post.id }) }}" class="btn btn-outline-danger">Delete</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
