{% extends 'post/index.html.twig' %}

{% block title %}
	Symfony Blog
{% endblock %}

{% block navbar_right %}
	{{ parent() }}
	<div class="btn-group">
		<a href="{{ path('post.new') }}" class="btn btn-outline-primary">Write a new post</a>
		<div class="btn-group">
			<button class="btn btn-outline-info dropdown-toggle flex-grow-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{ selectedCategory ? selectedCategory.name : 'Filter by' }}
			</button>
			<div class="dropdown-menu dropdown-menu-left dropdown-menu-lg-right">
				<a class="dropdown-item" href="{{ path('post.list') }}">No filter</a>
				{% for category in categories %}
					<a class="dropdown-item" href="{{ path('post.list', {'category': category.id}) }}">
						<i class="bi bi-circle-fill" style="color: {{ category.color }}"></i>
						{{ category.name }}
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	{% if posts is empty %}
		<p class="lead text-center">
			No posts here!
			<a href="{{ path('post.new') }}">Write something</a>
		</p>
	{% endif %}
	<div class="row row-cols-lg-2 row-cols-1">
		{% for post in posts %}
			<div class="col mb-4">
				<div class="card post shadow h-100">
					<div class="card-header responsive-image" data-image-url="{{ post.image ? asset(posts_images_directory ~ post.image) : asset(posts_images_directory ~ 'default.png') }}" data-height="300px"></div>
					<div class="card-header">
						<button type="button" class="btn btn-outline-primary rounded-pill category-badge" data-color="{{ post.category.color }}">
							<i class="bi bi-circle-fill" style="color: {{ post.category.color }}"></i>
							{{ post.category.name }}
						</button>
					</div>
					<div class="card-body">
						<h2 class="card-title">{{ post.title }}</h2>
						<hr class="my-1">
						<p class="card-text lead">{{ post.shortDescription }}</p>
					</div>
					<div class="card-footer">
						<div class="btn-group w-100">
							<a href="{{ path('post.read', { id: post.id }) }}" class="btn btn-outline-primary">
								<i class="bi bi-book"></i>
							</a>
							<a href="{{ path('post.edit', { id: post.id }) }}" class="btn btn-outline-secondary">
								<i class="bi bi-pencil-square"></i>
							</a>
							<a href="{{ path('post.delete', { id: post.id }) }}" class="btn btn-outline-danger">
								<i class="bi bi-trash"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block js %}
	{{ parent() }}
	<script src="{{ asset('js/responsive-image.js') }}"></script>
	<script src="{{ asset('js/category-badge.js') }}"></script>
{% endblock %}
