{% extends 'post/index.html.twig' %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block content %}
	<div class="card mb-3 shadow">
		<div class="row">
			<div class="col-lg-8 d-flex align-items-center">
				<div class="card-body">
					<h1 class="card-title">{{ post.title }}</h1>
					<hr class="my-1">
					<p class="card-text lead">{{ post.shortDescription }}</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="responsive-image" style="background-image: url('{{ post.image ? asset("uploads/images/#{post.image}") : asset('uploads/images/default.png') }}'); height: 300px;"></div>
			</div>
		</div>
	</div>
	<div class="card shadow">
		<div class="card-body">
			{{ post.body }}
		</div>
	</div>
{% endblock %}
