{% extends 'post/index.html.twig' %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block content %}
	<div class="card mb-3 shadow">
		<div class="row">
			<div class="col-lg-8 d-flex align-items-center">
				<header class="card-body">
					<h1 class="card-title">{{ post.title }}</h1>
					<hr class="my-1">
					<p class="card-text lead">{{ post.shortDescription }}</p>
				</header>
			</div>
			<div class="col-lg-4">
				<div class="responsive-image post-img" data-image-url="{{ post.image ? asset(posts_images_directory ~ post.image) : asset(posts_images_directory ~ 'default.png') }}" data-height="400px"></div>
			</div>
		</div>
		<div class="card-footer">
			<div class="row justify-content-between align-items-center">
				<div class="col-md-auto mb-md-0 mb-3">
					<button type="button" class="btn btn-outline-primary rounded-pill category-badge w-100" data-color="{{ post.category.color }}">
						<i class="bi bi-circle-fill" style="color: {{ post.category.color }}"></i>
						{{ post.category.name }}
					</button>
				</div>
				<div class="col-md-auto">
					<div class="btn-group ml-auto w-100">
						<a href="{{ path('post.edit', { id: post.id }) }}" class="btn btn-outline-secondary">
							<i class="bi bi-pencil-square"></i>
						</a>
						<a href="{{ path('post.delete', { id: post.id }) }}" class="btn btn-outline-danger">
							<i class="bi bi-trash"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card shadow">
		<div class="card-body">
			{{ post.body }}
		</div>
	</div>
{% endblock %}

{% block js %}
	{{ parent() }}
	<script src="{{ asset('js/responsive-image.js') }}"></script>
	<script src="{{ asset('js/category-badge.js') }}"></script>
{% endblock %}
